.nav {
  display: flex;
  .title {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
  }
  .link {
    margin: 0px 10px;
    width: 50%;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
  }
}
