$layout-width: 768px;

.page {
  max-width: $layout-width;
  margin: 3.5rem auto;
  font-family: "Roboto", sans-serif;
  &__header {
    padding: 2.5rem 0 2.5rem 2.5rem;
  }
  &__nav {
    padding: 2.5rem 0 2.5rem 2.5rem;
  }
}
