$layout-width: 1070px;

.header {
  display: flex;
  justify-content: space-between;
  .title {
    color: #2196f3;
    font-size: 3.25rem;
  }
  .subtitle {
    padding: 10px auto;
    color: #b8b9c8;
    font-size: 1rem;
  }
}
