$primary-font-size: 1.2rem;
$secondary-font-size: 0.8rem;
$primary-color: rgba(0, 0, 0, 0.02);

input,
textarea {
  width: 99%;
  border: none;
  border-bottom: solid 0.5px rgba(0, 0, 0, 0.2);
  &:focus {
    outline: none;
    border-bottom: 1.5px solid #2196f3;
    transition: 0.3s;
  }
  &::placeholder {
    font-size: $secondary-font-size;
  }
}

textarea {
  height: 2rem;
}

.datepicker {
  font-size: $primary-font-size;
}
.todo-form {
  font-size: $secondary-font-size;
  color: rgba(0, 0, 0, 0.6);
  width: 100%;
  &__label {
    margin: 0.65rem auto;
  }
  &__input {
    input,
    textarea {
      font-size: $primary-font-size;
    }
  }
  &__submit {
    margin: 0px 30px;
  }
}

.complete {
  text-decoration: line-through;

  -webkit-text-decoration-color: red;
  text-decoration-color: red;
  .todo-form {
    .todo-form__input,
    .react-datepicker-wrapper {
      input,
      textarea {
        text-decoration: line-through;
        -webkit-text-decoration-color: red;
        text-decoration-color: red;
      }
    }
  }
}

.todo {
  margin: 30px 0px;
  padding: 10px 20px;
  overflow: overlay;
  background: white;
  border: "none";
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  .todo-item {
    color: #707070;
    &__title {
      font-size: 1.5rem;
      margin: 5px 0px;
    }
    &__due_date {
      font-size: 0.9rem;
      margin: 5px 0px;
    }
    &__content {
      font-size: 0.85rem;
      margin: 5px 0px;
    }
  }
  &-button {
    display: grid;
    justify-content: flex-end;
    grid-auto-flow: column;
    grid-gap: 5px;
    margin: 5px 0px;
  }
}

.hidden {
  opacity: 0;
}

.mirror {
  position: absolute;
  top: -1000px;
  width: calc(90% - 50px);

  box-shadow: unset;
}
