$primary-font-size: 1.2rem;
$secondary-font-size: 0.9rem;
$primary-color: rgba(0, 0, 0, 0.02);

input,
textarea {
  width: 99%;
  border: none;
  &:focus {
    outline: none;
    border-bottom: 1px solid #2196f3;
    transition: 0.3s;
  }
  &::placeholder {
    font-weight: 500;
    font-size: $secondary-font-size;
  }
}

.datepicker {
  font-size: $primary-font-size;
}

.complete {
  text-decoration: line-through;
  .todo-form {
    .todo-form__input,
    .react-datepicker-wrapper {
      input,
      textarea {
        text-decoration: line-through;
      }
    }
  }
}

.list {
  display: flex;
  &-checkBox {
    align-self: center;
    margin-bottom: 20px;
    margin-right: 10px;
  }
  .todo {
    width: 100%;
  }
}

.todo {
  margin: 30px 0px;
  padding: 10px 20px;
  overflow: overlay;
  background: white;
  border: "none";
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  .todo-item {
    color: #707070;
    &__title {
      font-size: 1.5rem;
      margin: 5px 0px;
    }
    &__due_date {
      font-size: 0.9rem;
      margin: 5px 0px;
    }
    &__content {
      font-size: 0.9rem;
      margin: 5px 0px;
      height: 2rem;
    }
  }
  &-button {
    display: grid;
    justify-content: flex-end;
    grid-auto-flow: column;
    grid-gap: 15px;
    margin: 5px 0px;
  }
}

.icon {
  width: 1.2rem;
  margin: 1px;
}

.btn {
  cursor: pointer;
}

.red {
  color: red;
}

.hidden {
  opacity: 0;
}

.mirror {
  position: absolute;
  top: -1000px;
  width: calc(85% - 50px);
}
